:root {
  --main-bg-color: #ffffff; /* 주요 배경색 */
  --main-text-color: #ff7bac; /* 주요 텍스트 색상 */
  --hover-bg-color: #ff7bac; /* 호버 시 배경색 */
  --hover-text-color: #ffffff; /* 호버 시 텍스트 색상 */
}

* {
  font-family: "Pretendard-Medium";
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background: var(--main-bg-color); /* 변수 사용 */
}

.buttons {
  text-align: center;
  margin-top: 20px;
  font-family: "Pretendard-Bold";
}
.buttons div {
  display: inline-block;
  margin: 5px;
}

.buttons a {
  display: inline-block;
  margin: auto;
  text-decoration: none;
  background-color: var(--main-bg-color); /* 변수 사용 */
  color: var(--main-text-color); /* 변수 사용 */
  padding: 16px 50px;
  border-radius: 100px;
}

.main:hover, .list:hover {
  background: var(--hover-bg-color); /* 변수 사용 */
  color: var(--hover-text-color); /* 변수 사용 */
}

.work-detail {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--main-bg-color); /* 변수 사용 */
  overflow: hidden;
  border-radius: 300px;  
  border-style: groove;
  border-color: var(--main-text-color); /* 변수 사용 */
}

.work-details-content {
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  width: 70%;
  height: auto;
  color: var(--main-text-color); /* 변수 사용 */
  background-color: var(--main-bg-color); /* 변수 사용 */
  line-height: 200%;
  white-space: normal;
}

.work-details-image {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color); /* 변수 사용 */
  max-width: 80%;
  max-height: auto;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "Pretendard-ExtraBold";
}

p {
  padding-top: 2%;
  font-size: 20px;
  text-align: justify;
}

a {
  color: var(--hover-text-color); /* 변수 사용 */
  text-align: center;
  font-family: "Pretendard-SemiBold";
  font-size: 16px;
  background-color: var(--hover-bg-color); /* 변수 사용 */
  padding: 8px 16px;
  border-radius: 15px;
}

.a:hover {
  background-color: var(--hover-text-color); /* 변수 사용 */
  color: var(--hover-bg-color); /* 변수 사용 */
}

.date {
  padding-top: 2%;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

@media (max-width: 768px) {
  .work-detail {
    display: flex;
    flex-direction: column;
  }

  .work-details-image {
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color); /* 변수 사용 */
    max-width: 100%;
    overflow: hidden;
  }

  .work-details-content {
    margin: auto;
    width: 90%;
  }

  h1 {
    font-size: 40px;
    line-height: 120%;
  }

  p {
    font-size: 16px;
  }
}
